<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1> Кімнати </h1>
    <h3> ----------------------------------------- </h3>

    {% if room_list %}
        {% for room in room_list %}
            <h3> Номер: {{ room.num_room }} </h3>
            <h3> Кількість ліжок: {{ room.num_beds }} </h3>
            <h3> Клас: {{ room.room_class }} </h3>
            <h3> Ціна за день: {{ room.price }} грн </h3>
            <h3> ----------------------------------------- </h3>
        {% endfor %}
    {% else %}
        <h3> Немає номерів </h3>
    {% endif %}

</body>
</html>